		<article>
			<div id ="main" class="container">

				<div id="filter">
	                <ul class="dopt-accordion light-theme arrow-tri">
		                <li><input class="title-option" id="accx1" name="accordion-2" type="checkbox"><label class="title-panel" for="accx1" onclick="">
		                        <span>
		                            <i class="icon-tasks"></i>Settings</span></label>
		                    <div class="accordion-content">
		                        <div class="wrap-content">
									<h3>Filter</h3>
									<div id="filtermenu" class="row">
										<ul>
											<li class="filter-site">
												<img class="share-site" src="/assets/logo_xvideos.png" alt="xvideos">
												<div class="switch-container">
													<label class="switch">
														<input type="checkbox" class="switch-input" checked>
														<span class="switch-label" data-on="On" data-off="Off"></span>
														<span class="switch-handle"></span>
													</label>
												</div>
											</li>
										</ul>
									</div>
									<h3>Sort</h3>
									<div id="sortmenu">
										<h1>動画のソート</h1>
									</div>
		                        </div>
		                    </div>
		                </li>
	            	</ul>
				</div>


				<div id="contents">
				<%= will_paginate %>
					<ul id="og-grid" class="og-grid">
						<% @movies.each do |movie| %>
							<li>
								<a data-hlink=<%= movie.url %> data-largesrc=<%= movie.url %> data-title="タイトル" data-description=<%= movie.description %>>
									<div class="chapter">
										<img class ="previewEvent" src="/assets/1.png" alt="img01"/>
										<p class ="previewEvent"><%= movie.description %></p>
										<table>
											<tr>
												<th>TIME</th>
												<td class="time">1:00:00</td>
											</tr>
											<tr>
												<th>TAGS</th>
												<td class="tag">
													<% tag_cloud(movie.tag_counts_on(:tags), %w(dummy1 dummy2 dummy3 dummy4)) do |tag, css_class| %>
													  <%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class %>
													<% end %>
												</td>
											</tr>
										</table>
									</div>
								</a>
							</li>
						<% end %>
					</ul>
				<%= will_paginate %>
				</div>
			</div>
		</article>

	<% content_for :javascript_includes do %>
	  <%= javascript_include_tag "grid.js" %>
	<% end %>
	<script>
		$(document).on('page:change', function(e) {
			Grid.init();
		});
	</script>