
		<article>
<div id="soba-widget-publisher-SCbwhTftOWarGqYA" data-width="320" data-height="240"></div> 
<script src="http://widgets.soba-project.com/apps/QEUGteCpolvbvgAG/videos/SCbwhTftOWarGqYA/publisher.js" type="text/javascript"></script> 
			<div id ="main" class="container">

<%#
				<div id="filter">
	                <ul class="dopt-accordion light-theme arrow-tri">
		                <li><input class="title-option" id="accx1" name="accordion-2" type="checkbox"><label class="title-panel" for="accx1" onclick="">
		                        <span>
		                            <i class="icon-tasks"></i>Settings</span></label>
		                    <div class="accordion-content">
		                        <div class="wrap-content">
									<h3>Filter</h3>
									<div id="filtermenu" class="row">
										<ul>
											<li class="filter-site">
												<img class="share-site" src="/assets/logo_xvideos.png" alt="xvideos">
												<div class="switch-container">
													<label class="switch">
														<input type="checkbox" class="switch-input" checked>
														<span class="switch-label" data-on="On" data-off="Off"></span>
														<span class="switch-handle"></span>
													</label>
												</div>
											</li>
										</ul>
									</div>
		                        </div>
		                    </div>
		                </li>
	            	</ul>
				</div>
%>
				<div id="contents">
					<%= will_paginate %>

					<div id="view-toggle-wrapper">
						<ul id="menu-viewer-toggle"">
							<li class="moviebox-counter">
								<a><%= @movies.count %> movies</a>
							</li>
							<label for="category" class="select-wrap entypo-down-open-mini">
									<% choices = [['投稿日時が新しい順', 11],['投稿日時が古い順', 1],['再生回数が多い順', 12], ['再生回数が少ない順', 2], ['タイトル(昇順)', 3], ['タイトル(降順)', 13]] %>
									<%= select "movie", "sort", choices, selected: @selected %>
							</label>

							<li class="moviebox-list">
								<i class ="glyphicon glyphicon-th-list" style="color: white;">></i>
								<% if @current.index("?") then %>
									<% listurl = @current + '&listtype=og-list' %>
								<% else %>
									<% listurl = @current + '?listtype=og-list' %>
								<% end %>
								<%= link_to 'LIST', listurl, remote:true, class:"ajax-list" %>
							</li>

							<li class="moviebox-grid">
								<i class ="glyphicon glyphicon-th" style="color: white;">></i>
								<% if @current.index("?") then %>
									<% gridurl = @current + '&listtype=og-grid' %>
								<% else %>
									<% gridurl = @current + '?listtype=og-grid' %>
								<% end %>
								<%= link_to 'GRID', gridurl, remote:true, class:"ajax-grid" %>

							</li>
						</ul>
					</div>

					<div id="ajax_result">
						<%= render :partial => 'result', :locals => { :movies => @movies, :listtype => @listtype } %>
					</div>
					<%= will_paginate %>
				</div>

			</div>
		</article>
	<% content_for :javascript_includes do %>
	  <%= javascript_include_tag "grid.js" %>
	<% end %>

	<script>
	$(function(){

		$('.ajax-list').on('ajax:success', function(event, data, status) {
			Grid.init();
		});

		$('.ajax-grid').on('ajax:success', function(event, data, status) {
			Grid.init();
		});

		$('#movie_sort').change(function() {

			var sortMethod = $(this).val(),
				currentUrl = location.href;
			$.ajax({
				url: currentUrl,
				type: "GET",
				data: {
					sort: sortMethod
				},
				dataType: "script",
				success: function(data){
					Grid.init();
				}
			});
		});

	});
	</script>

	<script data-turbolinks-eval="false">
		$(document).on('page:change', function(e) {
			Grid.init();
		});
	</script>