
		<header>
			<div class="container">


				<div id="menu-main">

						<ul class="menu">

							<li class="toplogo" onclick="window.location = '/';" style="cursor:pointer;">
								<i class="glyphicon glyphicon-home"></i>
							</li>
							<li id="fat-menu" class="dropdown">
								<%= link_to "Girls", girls_path %>
								<ul>
									<li><a href="#">A</a></li>
									<li><a href="#">B</a></li>
									<li><a href="#">C</a></li>
								</ul>
							</li>
							<li class="menu-item">
								<%= link_to "Tags", tags_path %>
							</li>
							<li class="menu-item">
								<%= link_to "Favourites", favourite_movies_path %>
							</li>

							<li id="submenu">

								<div id="topSearch">

									<div class="search">
										<%= form_tag "/movies/find" do %>
										<%= text_field_tag :search_string %>
										<%= image_submit_tag("search_button.png") %>
										<% end %>
									</div><!-- search -->
								</div>
							</li>




						</ul>
				</div>
			</div>
		</header><!-- header -->