<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

		<link rel="stylesheet" type="text/css" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css">
		<!-- Google Font -->
		<style type="text/css">
		  @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
		</style>

    <%= render 'layouts/shim' %>
  </head>
  <body>
	<%= render 'layouts/header' %>

	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script>
		$(function() {
			Grid.init();
		});
	</script>
  </body>
</html>